@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Header*/
header {

    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(000, 000, 000, 0.5);
    width: 100%;

}

.logo {
    width: 120px;
    height: 120px;
}

.usuario img {
    width: 25px;
    height: 25px;
}

.usuario {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 6px;
}


/*Carrossel*/
.swiper {
    width: 100%;
    height: 600px;
    padding-top: 4px;
}

.swiper-slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/*Section*/
.section{

    background-color: red;
    height: 700px;
    width: 100%;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px;

}

.cardapio {

    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: xx-large;
    
    
    
} 

.Pizzas_Bebidas {

    background-color: green;
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    border: 2px solid black;
    padding-top: 10px;
    gap: 10px;
    font-size: xx-large;
    

}

.divcardapio{

    width: 100%;
    height: 600px;
    display:flex;
    justify-content: space-around;
    gap: 20px;
    
}

.PCardapio{

    font-size: small;
    

}

.StrongCardapio{

    font-size: large;

}

.PizzasItens{

    display: flex;
    flex-direction: column;
    margin-right: 200px;
    

}

